---
layout: default
title: Mustafa Çetin - Design effective digital products
description: Maker of things
---
<div class="lines-grid">
  <i class="lines_i"></i>
  <i class="lines_i"></i>
  <i class="lines_i"></i>
  <i class="lines_i"></i>
  <i class="lines_i"></i>
  <i class="lines_i"></i>
  <i class="lines_i"></i>
  <i class="lines_i"></i>
  <i class="lines_i"></i>
</div>

<div id="fullpage">
  <section class="section main">
    <div class="content">
      <div class="main_title">
      Hi there! My name is Mustafa,</br>
      UX and UI designer, <span>writer of stuff,</span></br>
      maker of things, observer.
      </div>
    </div>
    <div class="main_scroll">
      <div class="c-scrolldown">
        <div class="c-line"></div>
      </div>
      <span>SCROLL</span>
    </div>
  </section>
  <section class="section about">
    <div class="content">
      <div class="section_title">About</div>
      <div class="title">
        Hello!<br>
        I'm Mustafa Çetin.
      </div>
      <div class="about_en active">
        <p class="about_desc one">
          I design and build experiences that people love. I focus on simplicity and always try to make sure my design decisions are results of a human-centered process. Transforming user needs into creative, simple solutions is what I’m best at.</p>
        <p class="about_desc two">
        Even though I have 10+ years of experience in the UX and UI field, I never stop learning new trends and tools. Everyone knows design is an ongoing process, right? </p>
      </div>
      <div class="service_item">
        <div class="section_title">SERVICE</div>
        <div class="item_desc">
          <span>Web Interfaces</span>
          <span>Frontend Development</span>
          <span>App Interface</span>
          <span>Digital Branding</span>
        </div>
      </div>
    </div>
  </section>
  <section class="section case case_first">
    <div class="content">
      <div class="case_main">
        <div class="case_year">2019</div>
        <div class="case_number">EMPLOYEE ADVOCACY PLATFORM</div>
        <div class="case_category">Lead Designer</div>
        <a href="#" class="case_title">Nine Connections</a>
        <span class="line"></span>
      </div>
      <a href="#" class="case_item">
        <img src="assets/images/main/case-2.png" alt=""></a>
      <div class="case_pattern">
        <div class="pattern">
          <img class="pattern_main" src="assets/images/main/pattern-line.svg" alt="">
        </div>
      </div>
      <div class="case_synopsis">
        <div class="case_nav">
          <span>AI Powered Smart News</span>
        </div>
        <div class="case_desc">
          <p>
            Besides being a great designer, Mustafa also brought a calm and mature demeanor in a hectic environment, as well as great Eau de Cologne! </br> Christian Vogel <span> - Entrepreneur and software architect</span></p>
        </div>
      </div>
      <div class="case_info">
        <div class="case_info_one">
          <span class="info_one_content">2016-2019</span>
        </div>
       <!--  <a href="#" class="case_info_two" target="_blank">
          <img class="info_two_content" src="assets/images/main/arrow-right-long.svg" alt=""></a> -->
        <div class="case_info_three">
          <span class="info_three_content">
            Interfaces<br>
            Front-end<br>
            Branding</span>
        </div>
      </div>
      <div class="case_more">
        <div class="case_more_content">
          <a href="http://nineconnections.com" class="case_title link link--portfolio">nineconnections.com
            <span data-letters="nineconnections.com"></span>
            <span data-letters="nineconnections.com"></span></a>
        </div>
      </div>
    </div>
  </section>
  <section class="section case case_second">
    <div class="content">
      <div class="case_main">
        <div class="case_year">2016</div>
        <div class="case_number">TRAVEL BUSINESS</div>
        <div class="case_category">Lead Designer</div>
        <a href="#" class="case_title" target="_blank">TravelBird</a>
        <span class="line"></span>
      </div>
      <a href="#" class="case_item" target="_blank">
        <img src="assets/images/main/case-1.png" alt=""></a>
      <div class="case_pattern">
        <div class="pattern">
          <img class="pattern_main" src="assets/images/main/pattern-dot-main.svg" alt="">
          <img class="pattern_sub" src="assets/images/main/pattern-dot-sub.svg" alt="">
        </div>
      </div>
      <div class="case_synopsis">
        <div class="case_nav">
          <span>Online Travel Provider</span>
        </div>
        <div class="case_desc">
          <p>
            Mustafa has been of great value to the TravelBird team because of his unstoppable desire for details and perfection and besides that his urge to oversee the big picture. He doesn't take the easy road, has a great work ethic and is completely trustworthy.</br> Symen Jansma <span> - Entrepreneur</span></p>
        </div>
      </div>
      <div class="case_info">
        <div class="case_info_one">
          <span class="info_one_content">2011-2016</span>
        </div>
        <!-- <a href="#" class="case_info_two" target="_blank">
          <img class="info_two_content" src="assets/images/main/arrow-right-long.svg" alt=""></a> -->
        <div class="case_info_three">
          <span class="info_three_content">
            Interfaces<br>
            Development<br>
            Culture<br>
            Branding</span>
        </div>
      </div>
      <div class="case_more">
        <div class="case_more_content">
          <a href="http://travelbird.nl" class="case_title link link--portfolio">travelbird.nl
            <span data-letters="travelbird.nl"></span>
            <span data-letters="travelbird.nl"></span></a>
        </div>
      </div>
    </div>
  </section>
  <section class="section case case_third">
    <div class="content">
      <div class="case_main">
        <div class="case_year">2016</div>
        <div class="case_number">ART GALLERY</div>
        <div class="case_category">INTERFACE UI & UX</div>
        <a href="https://publichouseofart.com/nl/" class="case_title" target="_blank">Publichouseofart</a>
        <span class="line"></span>
      </div>
      <a href="#" class="case_item" target="_blank">
        <img src="assets/images/main/case-3.png" alt=""></a>
      <div class="case_pattern">
        <div class="pattern">
          <img class="pattern_main" src="assets/images/main/pattern-plane.png" alt="">
        </div>
      </div>
      <div class="case_synopsis">
        <div class="case_nav">
          <span>ART IS FOR ALL.</span>
        </div>
        <div class="case_desc">
          <p>
            Great experience to work with PHOA! They have many artists to show their arts on website, so it requires an extra responsibility on design! I would highly recommend anyone to visit their place in Amsterdam. This place is not a gallery. You can take photos as you likevand you can live freely. You can move around as you like and they even treat you with the coffee. The most important is that it is free of charge!!</p>
        </div>
      </div>
      <div class="case_info">
        <div class="case_info_one">
          <span class="info_one_content">2016</span>
        </div>
        <div class="case_info_three">
          <span class="info_three_content">
            Interfaces<br>
            UI & UX<br>
            E-mail
          </span>
        </div>
      </div>
      <div class="case_more">
        <div class="case_more_content">
          <a href="http://publichouseofart.com" class="case_title link link--portfolio">publichouseofart.com
            <span data-letters="publichouseofart.com"></span>
            <span data-letters="publichouseofart.com"></span></a>
        </div>
      </div>
    </div>
  </section>
  <section class="section case case_fourth">
    <div class="content">
      <div class="case_main">
        <div class="case_year">2015</div>
        <div class="case_number">TRAVEL WEBSITE</div>
        <div class="case_category">UX ASSIST</div>
        <a href="https://tjingo.nl" class="case_title" target="_blank">Tjingo</a>
        <span class="line"></span>
      </div>
      <a href="#" class="case_item" target="_blank">
        <img src="assets/images/main/case-4.png" alt=""></a>
      <div class="case_pattern">
        <div class="pattern">
          <img class="pattern_main" src="assets/images/main/pattern-click.png" alt="">
        </div>
      </div>
      <div class="case_synopsis">
        <div class="case_nav">
          <span>ONLINE TRAVEL AGENCY</span>
        </div>
        <div class="case_desc">
          <p>
            Mustafa is a perfectionist by heart and is gifted to make new designs feel intuitive and natural. On more than one occasion Mustafa has worked deep into the night to present a creative design in the morning. His work ethic is really second to none.</br> Sander Janssen <span> - Entrepreneur</span></p>
        </div>
      </div>
      <div class="case_info">
        <div class="case_info_one">
          <span class="info_one_content">2015-2016</span>
        </div>
        <div class="case_info_three">
          <span class="info_three_content">
            Interfaces<br>
            UI & UX<br>
            E-mail
          </span>
        </div>
      </div>
      <div class="case_more">
        <div class="case_more_content">
          <a href="http://tjingo.nl" class="case_title link link--portfolio">tjingo.nl
            <span data-letters="tjingo.nl"></span>
            <span data-letters="tjingo.nl"></span></a>
        </div>
      </div>
    </div>
  </section>
  <section class="section case case_fifth">
    <div class="content">
      <div class="case_main">
        <div class="case_year">2015</div>
        <div class="case_number">TRAVEL AGENCY</div>
        <div class="case_category">UX LEAD</div>
        <a href="https://lavidatravel.nl" class="case_title" target="_blank">Lavida Travel</a>
        <span class="line"></span>
      </div>
      <a href="#" class="case_item" target="_blank">
        <img src="assets/images/main/case-5.png" alt=""></a>
      <div class="case_pattern">
        <div class="pattern">
          <img class="pattern_main" src="assets/images/main/pattern-slogan.png" alt="">
        </div>
      </div>
      <div class="case_synopsis">
        <div class="case_nav">
          <span>HOLIDAY DESTINATIONS</span>
        </div>
        <div class="case_desc">
          <p>
            Mustafa is a perfectionist by heart and is gifted to make new designs feel intuitive and natural. On more than one occasion Mustafa has worked deep into the night to present a creative design in the morning. His work ethic is really second to none.</br> Sander Janssen <span> - Entrepreneur</span></p>
        </div>
      </div>
      <div class="case_info">
        <div class="case_info_one">
          <span class="info_one_content">2010-2019</span>
        </div>
        <div class="case_info_three">
          <span class="info_three_content">
            Interfaces<br>
            UI & UX<br>
            E-mail<br>
            Print<br>
            Advertising<br>
            Branding
          </span>
        </div>
      </div>
      <div class="case_more">
        <div class="case_more_content">
          <a href="http://lavidatravel.nl" class="case_title link link--portfolio">lavidatravel.nl
            <span data-letters="lavidatravel.nl"></span>
            <span data-letters="lavidatravel.nl"></span></a>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="section essay">
    <div class="content">
      <div class="section_title">Last Essays</div>
      <div class="title">
        <span>Reading and thinking.</span>
        <span>About everything I know about the world.</span>
      </div>
      {% for post in site.posts limit:3 %}
      <a href="{{ post.url }}" class="blog_item">
        <span class="blog_date">{{ post.date | date: '%B %d, %Y' }}</span>
        <span class="blog_tag">{% for tag in post.tags limit:3 %}<span>{{tag}}</span>{% endfor %}</span>
        <span class="blog_title">{{ post.title }}</span>
        <div class="blog_excerpt">{{ post.excerpt }}</div></a>
      {% endfor %}

    </div>
    <a href="{{ site.baseurl }}/blog" class="blog_more">More</a>
  </section> -->
  <section class="section story">
    <div class="content">
      <div class="section_title">Story</div>
      <div class="title">
        All endings are beginnings.<br>
        We just don't know it at the time.
      </div>
      <div id="instagram"></div>
    </div>
    <div class="desc">
      <span>- Instagram</span>

    </div>
  </section>
  <section class="section contact">
    <div class="content">
      <div class="section_title">Contact</div>
      <div class="title">
        Stay curious.<br>
        Let's create great products together!
      </div>
      <div class="contact_content">
        <div class="contact_item">
          <div class="section_title_small">SAY HI</div>
          <a class="item_desc" href="mailto:{{site.email}}">{{ site.email }}</a>
        </div>
        <div class="contact_item">
          <div class="section_title_small">FOLLOW</div>
          <a class="item_desc" href="https://dribbble.com/{{ site.dribbble_username }}" target="_blank">Dribbble</a>
          <a class="item_desc" href="https://www.behance.net/{{ site.behance_username }}" target="_blank">Behance</a>
          <a class="item_desc" href="https://github.com/{{ site.github_username }}" target="_blank">Github</a>
          <a class="item_desc" href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank">Instagram</a>
        </div>
        <div class="contact_item">
          <div class="section_title_small">Amsterdam</div>
          <span class="item_desc">Amsterdam&nbsp;&nbsp;<span class="js--time" data-timezone="Europe/Amsterdam"></span>
          </span>
          </span>
        </div>
        <div class="contact_item">
          <div class="section_title_small">Service</div>
          <span class="item_desc">Web Interfaces</span>
          <span class="item_desc">Frontend Development</span>
          <span class="item_desc">App Interface</span>
          <span class="item_desc">Digital Branding</span>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="{{ site.baseurl }}/assets/javascripts/fullPage.min.js"></script>
<script src="{{ site.baseurl }}/assets/javascripts/instagram.min.js"></script>
<script src="{{ site.baseurl }}/assets/javascripts/moment.min.js"></script>
<script src="{{ site.baseurl }}/assets/javascripts/moment-timezone.min.js"></script>

<script type="text/javascript">
  var feed = new Instafeed({
    get: 'user',
    userId: 6028500065,
    accessToken: '6028500065.1677ed0.7869ff1fad3941148589eda18b1af14c',
    target: 'instagram',
    resolution: 'standard_resolution',
    limit: '6',
    after: function() {
      var el = document.getElementById('instagram');
      if (el.classList)
        el.classList.add('show');
      else
        el.className += ' ' + 'show';
    }
  });
  window.onload = function() {
    feed.run();
  };
</script>
